{% load i18n %}

<h2>{% block subject %}{% endblock subject %}</h2>
{% block message %}{% endblock message %}
{% block details %}
<table>
  <tr>
    <td>{% trans "Date & Time" %}</td>
    <td>{{ appointment.appointment_datetime }}</td>
  </tr>
  <tr>
    <td>{% trans "Task" %}</td>
    <td>{{ appointment.task }}</td>
  </tr>
  <tr>
    <td>{% trans "Phone" %}</td>
    <td>{{ appointment.phone }}</td>
  </tr>
  <tr>
    <td>{% trans "E-Mail" %}</td>
    <td>{{ appointment.email }}</td>
  </tr>
  <tr>
    <td>{% trans "Message" %}</td>
    <td>{{ appointment.message }}</td>
  </tr>
</table>
{% endblock details %}
