recursive-include aldryn_theme_autofaszination_sidenav/static *
recursive-include aldryn_theme_autofaszination_sidenav/private *
recursive-include aldryn_theme_autofaszination_sidenav/templates *.html
