{% extends "base_root.html" %}
{% load i18n static cms_tags menu_tags sekizai_tags %}
{% load url from future %}

{% block body_class %}tpl-base{% endblock %}

{% block extend_root %}
<div class="row">
    <div class="large-24 column relative margin-top">
        <div class="large-6 column bg-dark">
            {% block header %}
            <!-- start: header -->
            <header class="header" role="banner">
                {% comment %}logo should be placed absolute in this container to support seo positioning{% endcomment %}
                <h1 class="logo-main">{% static_placeholder "logo" %}</h1>
                <div class="slogan">
                    {% static_placeholder "slogan" %}
                </div>
                <!-- start: wai -->
                <hr class="visuallyhidden" />
                <h2 class="visuallyhidden">{% trans "Shortcuts:" %}</h2>
                <ul class="skip-links">
                    <li><a href="/" title="[Alt + 0]" accesskey="0">{% trans "Go to home" %}</a></li>
                    <li><a href="#navigation" title="[Alt + 1]" accesskey="1">{% trans "Jump to navigation" %}</a></li>
                    <li><a href="#content" title="[Alt + 2]" accesskey="2">{% trans "Jump to content" %}</a></li>
                    <li><a href="#footer" title="[Alt + 3]" accesskey="3">{% trans "Contact" %}</a></li>
                </ul>
                <hr class="visuallyhidden" />
                <!-- end: wai -->

                {% block mainnav %}
                <h2 class="visuallyhidden" id="navigation">{% trans "Navigation:" %}</h2>
                <div class="mainnav-knob"></div>
                {% with class="mainnav" title="Menu" %}{% show_menu 0 1 100 100 "includes/menu/navigation.html" %}{% endwith %}
                {% endblock mainnav %}
            </header>
            <!-- end: header -->
            {% endblock header %}
            <div class="search-container">
                <input class="search" type="text" onfocus="if(this.value == 'Suche') { this.value = ''; }" value="Suche">
            </div>
            {# {% include "includes/menu/search.html" %} #}

            {% block toolbar %}
            <div class="toolbar">
                <div class="large-24 column">
                    {% static_placeholder "toolbar" %}
                </div>
            </div>
            {% endblock %}
        </div>
        <div class="large-18 column bg-white">
        {% block feature %}
        <div class="feature">
            {% placeholder "feature" %}
        </div>
        {% endblock %}

            {% include "example/home.html" %}
        {% block extend_base %}
        <!-- start: content -->
        <hr class="visuallyhidden" />
        <h1 class="visuallyhidden" id="content">{% trans "Content:" %} {% page_attribute title %}</h1>
        <div class="content">
        {% block content %}
        {% with 940 as width %}{% placeholder content %}{% endwith %}
        {% endblock content %}
        </div>
        <!-- end: content -->
        {% endblock extend_base %}

        {% block footer %}
        <!-- start: footer -->
        <hr class="visuallyhidden" />
        <h2 class="visuallyhidden" id="footer">{% trans "Footer:" %}</h2>
        <footer class="row" role="contentinfo">
            <div class="large-24 column">
                <div class="footer">
                    <div class="copyright">{% static_placeholder "copyright" %}</div>
                    <ul class="footnav">
                        {% show_menu_below_id "meta" 0 0 100 100 "includes/menu/navigation.html" %}
                    </ul>
                </div>
            </div>
        </footer>
        <!-- end: footer -->
        {% endblock footer %}

        {% addtoblock "css" %}<link rel="stylesheet" href="{% static 'css/sites/theme_sidebar/base.css' %}" />{% endaddtoblock %}
        {% endblock extend_root %}
        </div>
    </div>
</div>

