// @media all {
//######################################################################################################################
// #MOBILE#

// APPLICATION
.app-faq {

    // general styles
    .faq-items > li { padding:$line-space 0 0 0; }
    .faq-items .item { display:block; padding:0 0 $line-space; }

    .faq-back { position:relative; left:0; top:0; @include transform(none); }

    // answer
    .faq-answer { @extend .lead; }

    // details
    .faq-detail { position:relative; }

    // javascript
    .faq-expandable {
        .item { @extend .icon; @extend .icon-expand; }
        .item:before { color:$font-color; padding-right:$icon-space; }
        .item-expanded { @extend .icon-collapse; }
        .faq-detail { position:relative; top:-10px; }
    }

}

// PLUGINS
.plugin-faq {

    // plugin categories
    .faq-categories {
        a { display:block; padding:$line-space 0; }
        a span { color:$color-grey-light; }
        // month
        ul { padding:$line-space 0; margin:0; }
        ul li { display:inline; border:none; }
        ul a { display:inline; padding-right:5px; border:none; }
    }

    // plugin faq list
    .faq-items {
        .item { @include inline-block(); padding:$line-space 0; }
        .category { color:$color-grey-light; text-decoration:none; padding:2px 5px; margin:8px 0;
            background:$color-grey-dark; @include inline-block(); @include border-radius(2px); clear:both;
            @include transition(all, 300ms); }
        .category:hover { color:$color-grey; background:$color-grey-light; }
    }

}

// end of mobile
// }

@media (min-width: $responsive-tablet) {
//######################################################################################################################
// #TABLET#

.plugin-faq {
    .faq-items .category { float:right; }
}

// end of tablet
}

@media (min-width: $responsive-desktop) {
//######################################################################################################################
// #DESKTOP#

// end of desktop
}