@media (max-width: $responsive-tablet - 1) {
//######################################################################################################################
// #MOBILE#

// mainnav is hidden here per default
.mainnav { position:absolute; left:-9999px; top:0; z-index:1000; overflow:auto;
    padding:0; margin:0; background:$color-grey-dark;
    @include box-shadow(inset -1em 0 1em -0.75em rgba(black, 0.25));

    // set some basic styles
    ul, li { list-style-type:none; padding:0; margin:0; }
    > ul > li:first-child { border-top:none; }

    ul { border-bottom:1px solid #444; }
    ul ul a { padding-left:$line-space * 3; }
    li { border-top:1px solid #444; }

    li a { display:block; color:#ccc; padding:10px 20px; }
    li a:hover { color:#fff; text-decoration:none; background:#474747; }

    h2 { color:white; font-size:14px; line-height:16px; padding:8px 20px 7px; margin:0;
        background:darken($color-grey-dark, 10%); }
}

// style for the knob
.mainnav-knob { cursor:pointer; width:30px; height:30px;
    position:absolute; left:10px; top:1px; z-index:200;
    background:url('../img/mainnav-mobile.png') no-repeat left top;
    &:hover, &:active, &:focus { background-position:left -30px; } }

.mainnav-overlay { position:fixed; top:0; right:0; z-index:9999;
    width:30%; height:100%; background:transparent; }

// end of mobile
}