//######################################################################################################################
// #STANDARDSITE#

// fonts
$toolbar-color:                 #ccc;
$toolbar-link-color:            #f0f0f0;
$toolbar-background:            #3e3e3e;
$toolbar-input-background:      #646464;

$mainnav-color:                 #666;
$mainnav-active:                #ff9e1f;

$footer-background:             #f0f0f0;