// @media all {
//######################################################################################################################
// #MOBILE#

body { color:#b2b2b2; font-size:14px; line-height:22px; position:relative;
    font-family:"Open Sans","Helvetica Neue",Helvetica,sans-serif; background:#2e2e2e !important; }

a { color:#5d9df1; }
a:hover, a:focus { color:#40679a; }
p { margin:0 0 20px; }

h1 { color:white; font-size:36px; line-height:46px; font-weight:300; margin:0 0 20px; }
h2 { color:#e5e5e5; font-size:24px; line-height:34px;margin:0 0 20px; font-weight:400; }
h3 { color:#e5e5e5; font-size:18px; line-height:26px; margin:-5px 0 5px; font-weight:400; }
h4, h5, h6 { color:#e5e5e5; font-size:16px; line-height:22px; margin:-5px 0 5px; }

hr, .break {  line-height:0; padding:0; margin:30px 0; }

table { width:100%;
    th, td { text-align:left; vertical-align:top; }

    th { font-weight:normal; padding:5px 10px; background:#1f1f1f; }
    th a { color:white; }
    th a:hover { color:white; }

    td { line-height:20px; padding:15px 10px; border-bottom:1px solid #585858; }
    td strong { color:white; }

    .img { line-height:0; padding:15px 0; }
}

// icons
.icon { width:16px; height:16px; margin-right:5px;
    @include hide-text(); @include inline-block(); background:no-repeat center center; }
.icon-reverse { margin-left:5px; margin-right:0; }

.icon-address { background-image:url('../../../img/icons/address.png'); }
.icon-mail { background-image:url('../../../img/icons/mail.png'); }
.icon-phone { background-image:url('../../../img/icons/phone.png'); }
.icon-ascending { background-image:url('../../../img/icons/ascending.png'); }
.icon-descending { background-image:url('../../../img/icons/descending.png'); }
.icon-lens { background-image:url('../../../img/icons/descending.png'); }
.styleguide { margin-top:50px;
    .categories a { border-color:black !important; }
}
.styleguide-hint h3 { background:black !important; box-shadow:none !important; }
.styleguide-section { border-left:1px solid black !important; }
.styleguide-nav { box-shadow:none !important; }

// areas
.content { position:relative; z-index:100; padding:40px 10px 0; @include box-shadow(0 -5px 5px -5px black); }
.feature { position:relative; z-index:10; overflow:hidden;
    max-height:280px; margin:0 0 20px; line-height:0;
}

// cms
.feature .plugin_picture { display:block; line-height:0; }
.weight-light { font-weight: 300; }
//##################################################
// #THEME/offers#
.plugin-offers { list-style-type:none; padding:0; @include clearfix();
    li { width:200px; padding:0; margin:0 auto; }

    a { color:black; text-decoration:none; display:block; }
    a:hover { color:white;
        .desc { background:rgba(black, 0.6); }
    }

    .img { margin:0 0 4px; line-height:0; img { max-width:100%; } }
    .desc { text-align:center; line-height:20px; padding:5px 10px; background:rgba(black, 0.2); }
    .desc:hover { background-color: $color-muted; }
    li:last-child .desc { margin:0; }
    small { line-height:10px; }
}

// #THEME/teaser#
.teaser {
    .grid-3 { float:left; margin-right:10px; }
    h3 { margin-top:6px; }
    img { max-width:100%; }
}
// #background
.bg-dark {
    background-color: #2e333a;
    padding-top: 20px;

}
.bg-white {
    h1, h2, h3, h4, h5, h6 { color: #333; }
    p { color: #666; line-height: normal; margin: 0 0 8px; line-height: 1.5; }
    padding: 40px 40px 0;
    background-color: #fdfdfd;
}

.margin-top { margin-top: 60px; }
span.days { padding: 2px 7px; }
span.days:hover{ color: white; @include border-radius(50%); cursor: pointer; }
#appointment-frm { display: none; }

.cl-lightbox-text { display: none!important; }
#google-maps { width:100%; height:380px; }

//.table-calendar .header { line-height: 22px; }

// end of mobile
// }

@media (min-width: $responsive-tablet) {
//######################################################################################################################
// #TABLET#
.bg-dark {
    padding-bottom: 99999px;
    margin-bottom: -99999px;
    overflow: hidden;
}
hr, .break { margin:40px 0; }
.content { padding:40px 0 0; }
.feature { max-height:380px; margin:0 0 0px; }

// #THEME/offers#
.plugin-offers { margin-left: 0;
    li { float:left; width:160px; }
    li:nth-child(3n-1) { margin: 0px; }
    li:nth-child(even) { margin-left: 5px; }
}
// #THEME/teaser#
.teaser .grid-3 { margin-right:5px; text-align:right; }

// end of tablet
}

@media (min-width: $responsive-desktop) {
//######################################################################################################################
// #DESKTOP#

.plugin-offers {
    margin-left: 0;
    li { width:200px; }
    li:nth-child(even) { margin-left: 0px; }
    li:nth-child(3n-1) { margin: 0 10px; }
}
.teaser .grid-3 { margin-right:10px; }

// end of desktop
}