// @media all {
//######################################################################################################################
// #MOBILE#

.toolbar { font-size:13px; line-height:17px; position: absolute; top: 150px;  z-index:101;
    p { margin:0; }

    .meta { display:none; float:left; padding:11px 0 0; margin-bottom: 40px;
        > span { padding-right:20px; float: left; width: 100%; padding: 10px 5px; }
        a { color:#ccc; text-decoration:none; }
        a:hover { text-decoration:underline; }
        .icon { position:relative; top:-2px; }
    }

    .social-icons { text-align: left; padding:8px 0; font-size:1px; line-height:0;
        a { width:22px; height:22px; @include inline-block(); @include hide-text(); margin-left:10px;
            background:no-repeat left top; }
        a:hover, a:active { background-position:left -22px; }

        .icon-facebook { background-image:url('../../../img/icons/social-facebook.png'); margin-left: 0; }
        .icon-twitter { background-image:url('../../../img/icons/social-twitter.png'); }
        .icon-youtube { background-image:url('../../../img/icons/social-youtube.png'); }
        .icon-skype { background-image:url('../../../img/icons/social-skype.png'); }
    }
}

.header { position:relative; z-index:100;
    .logo-main { margin:0 0 0 15px; background:none;
        a { display:block; height:90px; max-width:250px; }
    }
}
.mainnav ul ul { display:none; }
.search-container {
    display: none;
    position: absolute;
    top: 360px;
    left: 0;
    width: 100%;
    background-color: #20262e;

    .search {
        width: 100%;
        height: 30px;
        padding-left: 47px;
        color: #ccc;
        border: 0px;
        outline: none;
        box-sizing: border-box;
        background: url("../../../img/icons/lens.png") no-repeat 23px center;
    }
}
.slogan { padding: 10px; @include word-break(break-all); }
// end of mobile
// }

@media (min-width: $responsive-tablet) {
//######################################################################################################################
// #TABLET#

.search-container { display: block; }
.toolbar { top: 400px;
    .meta { display:block; }
}
.header .logo-main { margin:0; }

//##################################################
// #THEME/mainnav#
.mainnav { position:absolute; left:0px; top:130px; width: 225px; letter-spacing: 0.3px;
    ul { list-style-type:none; padding:30px 0 0; margin:0; width: 225px; }
    li { color:#e5e5e5; font-size:16px; line-height:16px; height: 10px;
        padding: 10px 0;
        &.active { background: url("../../../img/icons/arrow.png") no-repeat right center; }
        &:hover, &:focus {
            background: url("../../../img/icons/arrow.png") no-repeat right center;
            color:white;
            font-weight: 400;
        }
    }

    .first { display:none; }
    h2 { display:none; }

    a { color:white; text-decoration:none; font-weight: 300;
        display: block;
        position: relative;
        background:none;
        padding:0px 15px;
        width: 100%;
        float:left;
        box-sizing: border-box;
        @include text-shadow(0 1px 0 #202020);
    }
}

// end of tablet
}

@media (min-width: $responsive-desktop) {
//######################################################################################################################
// #DESKTOP#

.mainnav .first { display:block; }

// end of desktop
}