// @media all {
//######################################################################################################################
// #MOBILE#

.plugin-events {

	// general styles
	.event-items { list-style-type:none; padding-left:0; margin-left:0;
		li { position:relative; padding-left:200px; padding-bottom:$line-space; margin-bottom:$line-space; min-height:280px;
			border-bottom:1px dotted $color-grey-light; @include clearfix(); }
		.events-visual { position:absolute; left:0; top:0; }
	}
	.events-detail {
		.events-date { float:none; }
		.events-venue { margin:$line-space 0 $line-space $line-space; }
		.events-lead { @extend .lead; padding-top:$line-space * 1.5; }
	}

	.events-date, .events-venue { float:left; padding:5px 8px; @include border-radius(3px);
		background:lighten($color-grey-light, 10%); @include box-shadow(inset 0 1px 2px $color-grey-light); }
	.events-date strong { width:40px; @include inline-block(); }
	.events-venue { float:right; margin:$line-space 0; text-align:right; }

	.events-back { position:absolute; left:-28px; top:14px; @include transform(rotate(-90deg)); }
	.events-back a { color:white; text-decoration:none; font-size:12px; text-transform:uppercase;
		padding:2px 5px; background:$color-grey-light;
		@include text-shadow(-1px 1px 0 rgba(0,0,0, 0.1));
		@include border-radius(3px);
		@include transition(background, 300ms); }
	.events-back a:hover { background:$color-grey; }

	// plugin upcoming
	.events-upcoming { list-style-type:none; padding-left:0; margin-left:0; border-top:1px dotted $color-grey-light;
		li { border-bottom:1px dotted $color-grey-light; }
		span { float:right; color:$color-grey-light; font-size:12px; }
	}

	// plugin calendar
	.events-calendar { margin-bottom:$line-space * 3; padding-top:3px;
        > h2 { @include hyphens(auto); @include word-break(break-all); }
		> h3 { text-align:center; margin-bottom:-7px; }

		.table-calendar {
            .header { line-height: 22px; }
			td, th { text-align:center; }

			th { padding-top:3px; padding-bottom:2px; }
			td.weekend { background:lighten($color-muted, 18%); pointer-events: none; @include opacity(0.2); }
			.disabled { @include opacity(0.2); }
			.events { background:rgba($color-primary, 0.05) !important; }
		}

		.controls { height:0; margin:0; position:relative; top:-18px;
			a { color:$font-color; width:18px; height:18px; overflow:hidden; @extend .icon; }
			a:hover:before { color:$color-primary !important; }
			.back { float:left; @extend .icon-arrow-left; }
			.next { float:right; @extend .icon-arrow-right; }
		}
	}

	// plugin registration
	.event-registration {
		margin-top:$line-space * 2; border-top:1px solid $color-border;

		.form-events fieldset {
			li { float:left; width:50%; }
			li:nth-child(5) { width:100%; textarea { width:80%; } }
			li:last-child { width:100%; textarea { width:80%; height:50px; } }
		}
	}

}

// ie fixes
.ie8 .plugin-events .events-back { left:-40px; }

// end of mobile
// }

@media (min-width: $responsive-tablet) {
//######################################################################################################################
// #TABLET#

// end of tablet
}

@media (min-width: $responsive-desktop) {
//######################################################################################################################
// #DESKTOP#

// end of desktop
}